{% extends '::baseAdmin.html.twig' %}

{% block body -%}
    <h1>Nouvel utilisateur</h1>

    <form action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Créer</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">Retour à la liste</a>
    </li>
</ul>
{% endblock %}
