body{
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333;
    top:0;
    background-color: #e9eaed;
}

#flop, #dixjoueurs {
    display: none;
}

.blockaccueil {
    background-color: white;
    width:700px;
    padding: 0 20px 0 20px;
    margin:auto;
    border: 1px solid #d3d6db;
}

.blockblue {
    background-color: #edeff4;
}

.contenustat {
    padding:15px;
}

.contenustat span {
    font-weight: bold;
}

.table-classement table td {
    border:0;
}

#img-class-joueurs, #img-class-top, #img-class-flop, #img_joueur_accueil, #rang_joueur_accueil {
    width:50px;
    color:#333;
    text-align: center;
}

#pts-class-joueurs, #pts-class-top, #pts-class-flop {
    width:130px;
    color:#333;
}

table tr td {
    width: 330px;
    border:5px solid white;
    border-top:0;
}

.overflow {
    overflow-y: auto;
    height: 230px;
}

h3{
    font-weight: lighter;
    color:#777;
    font-size: 16px;
    background: #f6f7f8;
    border-bottom: 1px solid #e9eaed;
    margin-top: -20px;
    height: 25px;
    width: 725px;
    margin-left: -20px;
    padding-top: 5px;
    padding-left: 15px;
}

.block_detail h4 {
   margin-top: 0; 
   text-transform: uppercase;
   padding: 10px;
   background-color: #d8dfea;
   color:#333;
}

h5 {
    font-size: 11px;
    padding-left: 15px;
    color:#3b5998;
    margin-bottom: -5px;
}

.titres-block {
    color:#3b5998;
    background-color: #f6f7f8;
    font-weight: bold;
}

.titres-block td {
    height: 20px;
    border-bottom: 0;
}

p {
    margin-left: 10px;
}

.menu li {
    list-style: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    padding-top:10px;
}

.menu li a {
    height: 30px;
    text-decoration: none;
    padding:10px;
    color:#3b5998;
}

.menu li:hover {
    background-color: #f6f7f8;
    cursor: pointer;
}

.menu li a:hover {
    background-color: #f6f7f8;
}

.menu {
    margin-bottom: 10px;
}

.block-liensmenu {
    margin-bottom: -15px;
    padding: 0;
    text-align: center;
}

.corps {
   padding: 20px;
   border: 1px solid #d3d6db;
   min-height: 200px;
}

#menu-classement li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

#menu-classement a:hover, .actions a:hover, .liens a:hover, a.nouveauQuizz:hover {
    text-decoration: underline;
}

.width_100{
    width: 100px;
}

.hidden {
    display: none;
}

.records_list {
    width: 300px;
}

.records_list tr {
    height: 50px;
}

.records_list th {
    width: 50px;
} 

.records_list td {
    border-right: 0;
    border-left: 0;
    padding-left: 10px;
}

.liste {
    overflow: hidden;
}

.liste table td {
    border:0;
}

.liste div {
    float:left;
    border:1px solid #d3d6db;
    background-color: #edeff4;
    width: 325px;
}

.marginblock_listquizz {
    margin: 0 20px 35px 0;
}

.margin_block_qt, .block_classement_accueil {
    margin: 0 20px 10px 0;
}

.margin_block_qt, .marginblock_listquizz {
    height: 58px;
}

.liens {
    text-align: right;
    margin-bottom: 20px;
}

.liens a {
    margin-left: 10px;
}

#menu-classement a, .actions a, .liens a, a.nouveauQuizz, .infosquizz_accueil a, .records_list a {
    text-decoration: none;
    color:#3b5998;
    font-weight: bold;
}

.liens img {
    vertical-align: middle;
}

a.nouveauQuizz {
    float: right;
    margin-right: 15px;
}

td.actions {
    width: 40px;
}

img.image {
    width: 200px;
    margin:0 10px 10px 0;
}

table.record_properties {
    height: 250px;
}

.record_properties th {
    text-align: left;
}

label {
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 0;
    text-align: right;
    width: 150px;
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

.block_detail p {
    width: 400px;
    text-align: justify;
    padding: 0 10px 10px 15px;
}

.block_detail div {
    border:1px dashed grey;
    margin-bottom: 20px;
    width: 450px;
}

.block_detail td {
    width: 200px;
}

.padding table {
    padding: 0 15px 15px 15px;
}

div.logotq {
    width:50px;
    height:50px;
    overflow:hidden;
}

.logotq img {
    max-width:150%;
    min-height: 100%;
}

.gras{
    font-weight: bold;
}

.classement_list tr {
    background-color: #edeff4;
    border: 1px solid #d3d6db;
}

td.bouton_liste_defier {
    width:120px;
}

td#infos_joueur_accueil {
    width: 125px;
}

.classement_accueil div {
    border:1px solid #d3d6db;
    background-color: #edeff4;
    width: 400px;
}

.classement_list td {
    border: 0;
    padding-left: 10px;
}

.table_quizz_accueil td {
    border:0;
    height: 50px;
}

.img_accueil {
    width:50px;
}

.infosquizz_accueil {
    padding-left: 10px;
}

.rang_accueil {
    font-size: 13px;
    font-weight: bold;
    width: 20px;
    text-align: center;
}

.libelle_liste {
    font-weight:lighter;
    font-size:12px;
    text-align: center;
}

.pointsagagner {
    text-align: center;
}

#timer{
    float: right;
    margin-top: -11px;
}

.isCorrect {
    color: green;
    font-weight: bold;
}

.isNotCorrect {
    color: red;
    font-weight: bold;
}


.button {
    width: 160px;
    text-align: center;
    border-top: 1px solid #96d1f8;
    background: #ff4400;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffbf00), to(#ff4400));
    background: -webkit-linear-gradient(top, #ffbf00, #ff4400);
    background: -moz-linear-gradient(top, #ffbf00, #ff4400);
    background: -ms-linear-gradient(top, #ffbf00, #ff4400);
    background: -o-linear-gradient(top, #ffbf00, #ff4400);
    padding: 15.5px 31px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
   }
.button:hover {
   border-top-color: #a30000;
   background: #a30000;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
.button a {
    text-decoration: none;
    color:white;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}