body{
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333;
    top:0;
    background-color: #e9eaed;
}

#flop, #dixjoueurs {
    display: none;
}

#logo {
    margin-left: -115px;
}

.blockaccueil {
    background-color: white;
    width:700px;
    padding: 0 20px 0 20px;
    margin:auto;
    border: 1px solid #d3d6db;
}

.blockblue {
    background-color: #edeff4;
}

.contenustat {
    padding:15px;
}

.contenustat span {
    font-weight: bold;
}

.table-classement table td {
    border:0;
}

#img-class-joueurs {
    width:50px;
    color:#333;
}

#pts-class-joueurs {
    width:130px;
    color:#333;
}

#img-class-top {
    width:50px;
    color:#333;
}

#pts-class-top {
    width:130px;
    color:#333;
}

#img-class-flop {
    width:50px;
    color:#333;
}

#pts-class-flop {
    width:130px;
    color:#333;
}

table tr td {
    width: 330px;
    border:5px solid white;
    border-top:0;
}

.overflow {
    overflow-y: auto;
    height: 230px;
}

h2 {
    font-weight: lighter;
    color:#777;
}

h3{
    font-weight: lighter;
    color:#777;
    font-size: 16px;
    background: #f6f7f8;
    border-bottom: 1px solid #e9eaed;
    margin-top: -20px;
    height: 25px;
    width: 725px;
    margin-left: -20px;
    padding-top: 5px;
    padding-left: 15px;
}

.titres-block {
    color:#3b5998;
    background-color: #f6f7f8;
    font-weight: bold;
}

.titres-block td {
    height: 20px;
    border-bottom: 0;
}

p {
    margin-left: 10px;
}

.menu li {
    list-style: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    padding-top:10px;
}

.menu li a {
    height: 30px;
    text-decoration: none;
    padding:10px;
    color:#3b5998;
}

.menu li:hover {
    background-color: #f6f7f8;
    cursor: pointer;
}

.menu li a:hover {
    background-color: #f6f7f8;
}

.menu {
    margin-bottom: 10px;
}

.block-liensmenu {
    margin-bottom: -15px;
    padding: 0;
    text-align: center;
}

.corps {
   padding: 20px;
   border: 1px solid #d3d6db;
}

#menu-classement li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

#menu-classement a {
    color:#3b5998;
    text-decoration: none;
    font-weight: bold;
}

#menu-classement a:hover {
    text-decoration: underline;
}

.width_100{
    width: 100px;
}

.hidden {
    display: none;
}

.records_list td {
    background-color: #edeff4;
    border-right: 0;
    border-left: 0;
    border-collapse: collapse;
    padding-left: 10px;
}

.liens-ajout {
    text-align: right;
    margin-bottom: 20px;
}

.liens-ajout a {
    text-decoration: none;
    color:#3b5998;
    font-weight: bold;
}

.liens-ajout img {
    vertical-align: middle;
}